configs/n8n/workflows/wazuh-alert-handler.json
{
  "name": "Wazuh Alert Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wazuh-alerts",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Wazuh Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "wazuh-alerts"
    },
    {
      "parameters": {
        "functionCode": "// Parse Wazuh alert JSON\nconst alert = $input.item.json;\n\n// Extract key information\nreturn {\n  json: {\n    alert_id: alert.id || 'unknown',\n    timestamp: alert.timestamp || new Date().toISOString(),\n    agent_id: alert.agent?.id || 'unknown',\n    agent_name: alert.agent?.name || 'unknown',\n    agent_ip: alert.agent?.ip || 'unknown',\n    rule_id: alert.rule?.id || 'unknown',\n    rule_level: alert.rule?.level || 0,\n    rule_description: alert.rule?.description || 'No description',\n    mitre_tactic: alert.rule?.mitre?.tactic || [],\n    mitre_technique: alert.rule?.mitre?.technique || [],\n    full_log: alert.full_log || '',\n    location: alert.location || 'unknown',\n    raw_alert: alert\n  }\n};"
      },
      "name": "Parse Alert",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.rule_level}}",
              "operation": "largerEqual",
              "value2": 12
            }
          ]
        }
      },
      "name": "Critical Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Log critical alert\nconst alert = $input.item.json;\n\nconsole.log('🚨 CRITICAL ALERT DETECTED');\nconsole.log(`Rule: ${alert.rule_id} - ${alert.rule_description}`);\nconsole.log(`Agent: ${alert.agent_name} (${alert.agent_ip})`);\nconsole.log(`Severity: ${alert.rule_level}`);\n\nreturn $input.all();"
      },
      "name": "Log Critical",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "functionCode": "// Log normal alert\nconst alert = $input.item.json;\n\nconsole.log('ℹ️  Alert logged');\nconsole.log(`Rule: ${alert.rule_id} - ${alert.rule_description}`);\nconsole.log(`Agent: ${alert.agent_name}`);\n\nreturn $input.all();"
      },
      "name": "Log Normal",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Wazuh Webhook": {
      "main": [[{"node": "Parse Alert", "type": "main", "index": 0}]]
    },
    "Parse Alert": {
      "main": [[{"node": "Critical Alert?", "type": "main", "index": 0}]]
    },
    "Critical Alert?": {
      "main": [
        [{"node": "Log Critical", "type": "main", "index": 0}],
        [{"node": "Log Normal", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": ["wazuh", "siem", "security"]
}
